{% extends "base.html" %}
{% block title %}审计日志详情{% endblock %}
{% block content %}
<div class="container-fluid mt-3">
  <h4>审计日志详情</h4>
  <div class="alert alert-info">此页面由Vue3前端渲染，如看到此说明请通过前端访问</div>
  <div class="card mt-3"><div class="card-body">
    <table class="table table-bordered">
      <tr><th class="bg-light" style="width:150px">ID</th><td>--</td></tr>
      <tr><th class="bg-light">操作时间</th><td>--</td></tr>
      <tr><th class="bg-light">操作人</th><td>--</td></tr>
      <tr><th class="bg-light">操作类型</th><td>--</td></tr>
      <tr><th class="bg-light">操作内容</th><td>--</td></tr>
      <tr><th class="bg-light">IP地址</th><td>--</td></tr>
    </table>
  </div></div>
</div>
{% endblock %}